*.class
*.log

#text editor temp files
*~
*.swp

#idea specific
.idea/
*.iml

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific

# Eclipse specific
.project
.classpath
.cache
.worksheet
.settings/


# Project Speficic

#other files

